<nav class="col">
  <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="home">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="lista">Lista de Tareas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="contacts">Contacto</a>
  </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="about">Acerca de</a>
    </li>
</ul>
</nav>

